{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Insiro- Detaile</title>

    <!-- Custom fonts for this template-->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.9.0/css/all.css"
    />
    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin.css'%}" rel="stylesheet" />
    <link href="{% static 'css/addition.css'%}" rel="stylesheet" />
  </head>

  <body id="page-top">
    <div class="modal dia" id="Login"></div>
    <div class="modal dia" id="regist_new"></div>
    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">
      <a class="navbar-brand mr-1" href="./">Insiro</a>

      <!-- Navbar Search -->
      <form
        action="search"
        class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0"
      >
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            name="kq"
            placeholder="Search for..."
            aria-label="Search"
            aria-describedby="basic-addon2"
          />
          <div class="input-group-append">
            <button class="btn btn-primary" type="submit">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </form>

      <!-- Navbar -->
      <div id="Nav"></div>
    </nav>

    <div id="wrapper">
      <!-- Sidebar -->
      <div class="sidebar navbar-nav" id="sidebar"></div>

      <div id="content-wrapper">
        <div class="container-fluid">
          <!-- Breadcrumbs-->
          <ol class="breadcrumb" id="Breadcrumbs">
            <li class="breadcrumb-item">
              <a href="./">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Details Page</li>
          </ol>

          <!-- Page Content -->
          <h1 id="con_name">Details</h1>
          <hr />
          <div id="contexts">
            <p>Detalis of the contents</p>
          </div>
        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <footer class="sticky-footer">
          <div id="footer" class="container my-auto"></div>
        </footer>
      </div>
      <!-- /.content-wrapper -->
    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div
      class="modal fade"
      id="logoutModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button
              class="close"
              type="button"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            Select "Logout" below if you are ready to end your current session.
          </div>
          <div class="modal-footer">
            <button
              class="btn btn-secondary"
              type="button"
              data-dismiss="modal"
            >
              Cancel
            </button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/static/js/sb-admin.min.js"></script>
    <script src="/static/js/addition.js"></script>
    <script>
      $(document).ready(function() {
        $("#sidebar").load("/static/extention_html/sidebar.html");
        $("#footer").load("/static/extention_html/footer.html");
        $("#Nav").load("/static/extention_html/navbar.html");
        $("#Login").load("/static/extention_html/log-inModal.html");
        $("#regist_new").load("/static/extention_html/singUpModal.html");
      });

      var id = null,
        table_n = null;

      function getQueryVariable(variable) {
        var query = window.location.search.substring(1);
        var vars = query.split("&");
        for (var i = 0; i < vars.length; i++) {
          var pair = vars[i].split("=");
          if (decodeURIComponent(pair[0]) == variable) {
            return decodeURIComponent(pair[1]);
          }
        }
        return null;
      }

      function getVariableHandler() {
        id = getQueryVariable("id");
        table_n = getQueryVariable("table");
        if (id !== null && table_n != null) {
          console.log(id);
        } else {
          console.error("Error");
        }
      }

      function writedata() {
        if (arguments.length == 0) {
        } else {
          name = arguments[0].name;
          var currentData = arguments[0];
          var data = arguments[0].data;
          document.title = "Insiro - " + name;
          document.getElementById("Breadcrumbs").innerHTML =
            "<li class='breadcrumb-item'><a href='./'>Dashboard</a></li><li class='breadcrumb-item'><a href=\"javascript:;\" onClick=\"go_table('LOL')\">" +
            table_n +
            "</a></li><li class='breadcrumb-item active'>" +
            name +
            "</li>";

          document.getElementById("con_name").innerText = name;
          document.getElementById("contexts").innerHTML = "<table id='_table'>";
          _table = document.getElementById("_table");
          _table.innerHTML +=
            "<tr><th>start</th><td>" + currentData.start + "</td></tr>";
          _table.innerHTML +=
            "<tr><th>end</th><td>" + currentData.end + "</td></tr>";
          if (data.Organizer != null) {
            var organizerString = "<tr><th>Organizer</th>";
            for (var i = 0; i < data.Organizer.length; i++) {
              var currentOrganizer = data.Organizer[i];
              organizerString +=
                "<td><a href='" +
                currentOrganizer.link +
                "'>" +
                currentOrganizer.name +
                "</a></td>";
            }
            organizerString += "</tr>";
            _table.innerHTML += organizerString;
          }
          if (data.Links != null)
            _table.innerHTML +=
              '<tr><th>Link</th><td><a href="' +
              data.Links.link +
              "\"'>WebPage</a></td></tr>";
          if (data["Number of Teams"] != null)
            _table.innerHTML +=
              "<tr><th>Teams</th><td>" + data["Number of Teams"] + "</td></tr>";
          if (data["Prize Pool"] != null)
            _table.innerHTML +=
              "<tr><th>Prize_Pool</th><td>" + data["Prize Pool"] + "</td></tr>";
          else if (data.Prize != null)
            _table.innerHTML +=
              "<tr><th>Prize</th><td>" + data["Prize"] + "</td></tr>";
          if (data.Region != null)
            _table.innerHTML +=
              "<tr><th>Region</th><td>" + data.Region + "</td></tr>";
          if (data.Type != null)
            _table.innerHTML +=
              "<tr><th>Type</th><td>" + data.Type + "</td></tr>";
          if (data.Tier != null)
            _table.innerHTML +=
              "<tr><th>Tier</th><td>" + data.Tier + "</td></tr>";
          if (data.Streams != null) {
            var StreamStr = "<tr><th>Steams</th>";
            for (var i = 0; i < data.Streams.length; i++) {
              curstream = data.Streams[i];
              StreamStr +=
                '<td><a href="' +
                curstream.link +
                '">' +
                curstream.name +
                "</a></td>";
            }
            _table.innerHTML += StreamStr + "</tr>";
          }
          if (arguments[0].data.Schedule != null) {
            var schStr =
              "<td colspan = 2><table border = 1><th colspan = 2>schedule</th>";
            for (var i = 0; i < data.Schedule.length; i++) {
              curSchedule = data.Schedule[i];
              schStr +=
                "<tr><td>" +
                curSchedule[0] +
                "</td><td>" +
                curSchedule[1] +
                "</td></tr>";
            }
            _table.innerHTML += schStr + "</table></td></tr>";
          }
        }
      }
      getVariableHandler();
      if (id == null || table_n == null) {
      } else get_detail(table_n, id);
    </script>
  </body>
</html>
