{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta http-equiv="Access-Control-Allow-Origin" content="*" />

    <title>Insiro- Home</title>

    <!-- Custom fonts for this template-->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.9.0/css/all.css"
    />
    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin.css'%}" rel="stylesheet" />
    <link href="{% static 'css/addition.css'%}" rel="stylesheet" />
  </head>

  <body id="page-top">
    <!-- dialog -->

    <div class="modal dia" id="modalDialog"></div>
    <div class="modal dia" id="Login"></div>
    <div class="modal dia" id="regist_new"></div>
    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">
      <a class="navbar-brand mr-1" href=".">Insiro</a>
      <!-- Navbar Search -->
      <form
        action="search"
        class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0"
      >
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            name="kq"
            placeholder="Search for..."
            aria-label="Search"
            aria-describedby="basic-addon2"
          />
          <div class="input-group-append">
            <button class="btn btn-primary" type="submit">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </form>

      <!-- Navbar -->
      <div id="Nav"></div>
    </nav>

    <div id="wrapper">
      <!-- Sidebar -->
      <div class="sidebar navbar-nav" id="sidebar"></div>

      <div id="content-wrapper">
        <div class="container-fluid">
          <!-- Breadcrumbs-->
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Overview</li>
          </ol>
          <!-- Icon Cards-->
          <div class="row">
            <div class="col-xl-3 col-sm-6 mb-3">
              <div class="card text-sideOcher bg-Ocher o-hidden h-100">
                <div class="card-body">
                  <div class="card-body-icon"></div>
                  <div class="mr-5">Ocher card</div>
                </div>
                <ul class="list-game list-sideOcher">
                  <li>
                    <a href="javascript:;" onclick="viewDialog()"> items</a>
                  </li>
                </ul>
                <a
                  class="card-footer text-sideOcher clearfix small z-1"
                  href="javascript:;"
                  onClick="go_table()"
                >
                  <span class="float-left">View all Contests</span>
                  <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                  </span>
                </a>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
              <div class="card text-sidegold bg-gold o-hidden h-100">
                <div class="card-body">
                  <div class="card-body-icon">
                    <li>
                      <a href="javascript:;" onclick="viewDialog()"> items</a>
                    </li>
                  </div>
                  <div class="mr-5">gold</div>
                </div>
                <ul id="LOL_list" class="list-game list-sidegold"></ul>
                <a
                  class="card-footer text-sidegold clearfix small z-1"
                  href="javascript:;"
                  onClick="go_table()"
                >
                  <span class="float-left">View all Contests</span>
                  <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                  </span>
                </a>
              </div>
            </div>

            <div class="col-xl-3 col-sm-6 mb-3">
              <div class="card text-sideorange bg-orange2 o-hidden h-100">
                <div class="card-body">
                  <div class="card-body-icon"></div>
                  <div class="mr-5">orange</div>
                </div>
                <ul id="OW_list" class="list-game list-sideorange">
                  <li>
                    <a href="javascript:;" onclick="viewDialog()"> items</a>
                  </li>
                </ul>
                <a
                  class="card-footer text-sideorange clearfix small z-1"
                  href="javascript:;"
                  onClick="go_table('')"
                >
                  <span class="float-left">View all Contests</span>
                  <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                  </span>
                </a>
              </div>
            </div>

            <!-- <div class="col-xl-3 col-sm-6 mb-3">
                            <div class="card text-white bg-gray o-hidden h-100">
                                <div class="card-body">
                                    <div class="card-body-icon">
                                    </div>
                                    <div class="mr-5">gray card</div>
                                </div>
                                <ul class="list-game">
                                    <li><a href="javascript:;" onclick="viewDialog()"> items</a></li>
                                </ul>
                                <a class="card-footer text-white clearfix small z-1" href="javascript:;"
                                    onClick="go_table()">
                                    <span class="float-left">View all Contests </span>
                                    <span class="float-right">
                                        <i class="fas fa-angle-right"></i>
                                    </span>
                                </a>
                            </div>
                        </div> -->
            <!-- <div class="col-xl-3 col-sm-6 mb-3">
                            <div class="card text-white bg-cyan o-hidden h-100">
                                <div class="card-body">
                                    <div class="card-body-icon">
                                    </div>
                                    <div class="mr-5">cyan card</div>
                                </div>
                                <ul class="list-game ">
                                    <li><a href="javascript:;" onclick="viewDialog()"> items</a></li>
                                </ul>
                                <a class="card-footer text-white clearfix small z-1" href="javascript:;"
                                    onClick="go_table()">
                                    <span class="float-left">View all Contests</span>
                                    <span class="float-right">
                                        <i class="fas fa-angle-right"></i>
                                    </span>
                                </a>
                            </div>
                        </div> -->
            <div class="col-xl-3 col-sm-6 mb-3">
              <div class="card text-white bg-blue2 o-hidden h-100">
                <div class="card-body">
                  <div class="card-body-icon"></div>
                  <div class="mr-5">blue card</div>
                </div>
                <ul class="list-game">
                  <li>
                    <a href="javascript:;" onclick="viewDialog()"> items</a>
                  </li>
                </ul>
                <a
                  class="card-footer text-white clearfix small z-1"
                  href="javascript:;"
                  onClick="go_table()"
                >
                  <span class="float-left">View all Contests</span>
                  <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                  </span>
                </a>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
              <div class="card text-white bg-pupple o-hidden h-100">
                <div class="card-body">
                  <div class="card-body-icon"></div>
                  <div class="mr-5">pupple card</div>
                </div>
                <ul class="list-game">
                  <li>
                    <a href="javascript:;" onclick="viewDialog()"> items</a>
                  </li>
                </ul>
                <a
                  class="card-footer text-white clearfix small z-1"
                  href="javascript:;"
                  onClick="go_table()"
                >
                  <span class="float-left">View all Contests</span>
                  <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                  </span>
                </a>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
              <div class="card text-white bg-green2 o-hidden h-100">
                <div class="card-body">
                  <div class="card-body-icon"></div>
                  <div class="mr-5">green card</div>
                </div>
                <ul class="list-game">
                  <li>
                    <a href="javascript:;" onclick="viewDialog()"> items</a>
                  </li>
                </ul>
                <a
                  class="card-footer text-white clearfix small z-1"
                  href="javascript:;"
                  onClick="go_table()"
                >
                  <span class="float-left">View all Contests</span>
                  <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                  </span>
                </a>
              </div>
            </div>
          </div>
          <!-- /.container-fluid -->

          <!-- Sticky Footer -->
          <footer class="sticky-footer">
            <div id="footer" class="container my-auto"></div>
          </footer>
        </div>
        <!-- /.content-wrapper -->
      </div>
      <!-- /#wrapper -->

      <!-- Scroll to Top Button-->
      <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
      </a>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Page level plugin JavaScript-->
    <script src="/static/vendor/datatables/jquery.dataTables.js"></script>
    <script src="/static/vendor/datatables/dataTables.bootstrap4.js"></script>
    <script src="/static/js/addition.js"></script>
    <script>
      //login
      // if (window.sessionStorage.getItem('login') == true) {
      //     console.log('logined')
      //     var logined = document.getElementsByClassName('loggined');
      //     var unloggined = document.getElementsByClassName('unloggined');
      //     for (i = 0; i < loggined.length; i++) {
      //         logined.item(i).style.display = 'none';
      //     }
      //     for (i = 0; i < loggined.length; i++) {
      //         logined.item(i).style.display = 'inline';
      //     }
      // } else {
      //     console.log('Not logged in')
      // }
      $(function() {
        $("#footer").load("/static/extention_html/footer.html");
        $("#Nav").load("/static/extention_html/navbar.html");
        $("#sidebar").load("/static/extention_html/sidebar.html", function() {
          document.getElementById("dash_lit").className += " active";
        });
        $("#regist_new").load("/static/extention_html/singUpModal.html");
        $("#modalDialog").load("/static/extention_html/modal_dialog.html");
        $("#Login").load("/static/extention_html/log-inModal.html");
      });
      function writeList() {
        if (arguments[1].length == 0 || arguments.length < 1)
          document.getElementById(theGame + "_list").innerHTML +=
            "<li> No data </li>";
        else {
          for (var i = 0; i < arguments[1].length; i++) {
            document.getElementById(arguments[0] + "_list").innerHTML +=
              "<li ><a onclick='viewDialog(\"" +
              arguments[1][i]._id +
              '", "' +
              arguments[0] +
              "\")' href='javascript:;'>" +
              (arguments[1][i].name.length > 25
                ? arguments[1][i].name.substring(0, 23) + "..."
                : arguments[1][i].name) +
              "</a></li>";
          }
        }
      }

      //RUN CODE
      //getGameList("PUBG")
      //getGameList("OW")
      //getGameList("LOL", 4);

      // LOGIN
    </script>
  </body>
</html>
