{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Insiro Search</title>

        <!-- Custom fonts for this template-->
        <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
        <!-- Custom styles for this template-->
        <link href="{% static 'css/sb-admin.css'%}" rel="stylesheet">
        <link href="{% static 'css/addition.css'%}" rel="stylesheet">
    </head>

    <body id="page-top">

        <!-- dialog -->
        <div class="modal dia" id="regist_new"> </div>
        <div class="modal dia" id="Login"> </div>
        <div class="modal dia" id="modalDialog"></div>
        <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

            <a class="navbar-brand mr-1" href="./">Insiro</a>

            <!-- Navbar Search -->
            <form action="search" class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
                <div class="input-group">
                    <input type="text" class="form-control" name="kq" placeholder="Search for..." aria-label="Search"
                        aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>

            <!-- Navbar -->
            <div id='Nav'></div>

        </nav>


        <div id="wrapper">

            <!-- Sidebar -->
            <div class="sidebar navbar-nav" id='sidebar'></div>

            <div id="content-wrapper">

                <div class="container-fluid">

                    <!-- Breadcrumbs-->
                    <ol class="breadcrumb" id="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="index">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item active">Search</li>
                    </ol>

                    <!-- Page Content -->
                    <h1 id="search_keyword">Search</h1>
                    <hr>

                    <div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>start</th>
                                            <th>end</th>
                                        </tr>
                                    </thead>
                                    <tbody id="sc_list">
                                        <tr>
                                            <td colspan='4'>No Data</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>



                </div>
                <!-- /.container-fluid -->

                <!-- Sticky Footer -->
                <footer class="sticky-footer">
                    <div id='footer' class="container my-auto"></div>
                </footer>

            </div>
            <!-- /.content-wrapper -->

        </div>
        <!-- /#wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>
        <script src="/static/vendor/jquery/jquery.min.js"></script>
        <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>
        <script src="/static/js/sb-admin.min.js"></script>
        <script src="/static/js/addition.js"></script>
        <script>
            $(function () {
                $("#regist_new").load("/static/extention_html/singUpModal.html");
                $("#footer").load("/static/extention_html/footer.html");
                $("#Nav").load("/static/extention_html/navbar.html");
                $("#sidebar").load("/static/extention_html/sidebar.html");
                $("#modalDialog").load("/static/extention_html/modal_dialog.html");
                $("#Login").load("/static/extention_html/log-inModal.html");
            });
            var search_str = null


            function getVariableHandler() {
                kq = "{{ kq }}";
                if (kq != null && kq != 'None') {
                    search_str = kq.replace("+", " ");
                    console.log(search_str);
                    //getSearchData('LOL', search_str)
                    document.title = document.title + " : " + search_str
                    var search_s = document.getElementById("search_keyword")
                    search_s.innerText = "Search : " + search_str
                    var breads = document.getElementById("breadcrumb")
                    breads.innerHTML += "<li class='breadcrumb-item active'>" + search_str + "</li>"
                }
            }

            function getSearchData() {
                var req = new XMLHttpRequest()
                req.open("GET", "http://localhost:8080/api/search/" + arguments[0] + "/" + arguments[1]);
                req.addEventListener("load", function () {
                    if (req.status === 200) {
                        console.log("GetList Get success!");
                        var json = JSON.parse(req.responseText);
                        console.log(json);
                        var data = json.data;
                        writeList(arguments[0], data);
                    } else {
                        writeList();
                        console.error("NONE");
                    }
                });
                req.send(null);
            }

            function writeList() {

                if (arguments.length != 0) {

                    if (arguments[1].length == 0) {
                        return
                    }
                    var table = document.getElementById("sc_list")
                    table.innerHTML = ""
                    var cur;
                    for (var i = 0; i < arguments[1].length; i++) {
                        cur = arguments[1][i]
                        table.innerHTML += "<tr onclick=viewDialog(\"" + cur._id + "\",'LOL')><td><a href='javascript:;'>" + cur.name + "</a></td><td>" + cur.start + "</td><td>" + cur.end + "</td></a></tr>"
                    }
                }
            }
            getVariableHandler()
        </script>


    </body>


</html>